   /* search box */

   .button_box2 {
    margin:60px 50px;
    float:right;
    }
    /*-------------------------------------*/
    .cf:before, .cf:after{
    content:"";
    display:table;
    }
    .cf:after{
    clear:both;
    }
    .cf{
    zoom:1;
    }
    
    
    .form-wrapper-2 {
    width: 500px;
    padding: 15px;
    background: #555;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        margin-left: 600px;
        margin-top: -71px;
    }
    .form-wrapper-2 input {
    width: 360px;
    height: 40px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'Raleway', sans-serif;
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    }
    .form-wrapper-2 input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
    }
    .form-wrapper-2 input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
    }
    .form-wrapper-2 button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'Raleway', sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #D88F3C;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
    }
    .form-wrapper-2 button:hover{
    background: #FA8807;
    }
    .form-wrapper-2 button:active,
    .form-wrapper-2 button:focus{
    background: #c42f2f;
    }
    .form-wrapper-2 button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #D88F3C transparent;
    top: 12px;
    left: -6px;
    }
    .form-wrapper-2 button:hover:before{
    border-right-color: #FA8807;
    }
    .form-wrapper-2 button:focus:before{
    border-right-color: #c42f2f;
    }
    .form-wrapper-2 button::-moz-focus-inner {
    border: 0;
    padding: 0;
    }

    /*styling.css*/
/*Style body by adding background image and set it to cover, add font-family*/
body{
    font-family: Arvo, serif;
    background: url(/images/232.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}

/*Style brand*/
.logo{
    height: 30px;   
}

/*Style navigation bar*/
.navbar-inverse{
    background: rgba(0,0,0,0.5);   
}

.nav li{
    color: #fff;
    font-size: 17px;
    margin-right: 35px;
    padding: 10px 0;
}  

.nav li:hover{
    border-bottom: 1px solid #00FFB8; 
    padding-bottom: 9px;
    cursor: pointer;
} 

/*Style jumbotron*/
.jumbotron{
    background-color: transparent;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px;
    letter-spacing: 2.5px;
}

/*limit the width of the icons section*/
.container{
    max-width: 1000px;   
}
/*Style icons section using bootstrap grid system*/
.bodyimage{
    height: 100px;   
}

.col-md-4{
    text-align: center;
    color: #fff;
}

.icons p{
    font-size: 15px;   
}
/*Style contact button*/
.contact{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.btn{
    background-color: rgba(0, 255, 184, 0.5);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    padding: 10px 70px;
    letter-spacing: 1.3px;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    border: none;
}
/*Style footer*/
.footer{
    background-color: rgba(0, 0, 0, 0.5); 
    color: grey;
    font-size: 15px;
    padding: 10px 0;
    margin:100px 20px 20px 20px ;
}
/*use media queries to change icons size in small devices*/
@media (max-width: 768px){
    .bodyimage{
        height: 70px;   
    }
}
